.main-page{
    display: flex;
    height:  100vh; /* //Viewport Height, high screen, w/ scroll, b4 100% */

    box-sizing: border-box;
}

.left {
    flex: 1;
    /* background-color: red; */
    background: linear-gradient(135.51deg, #CC4D72 -0.57%, #E42313 99.58%);
    /* height: 100%; */
}

.bg-image{
    width: 100%;
    height: 100%;
    object-position: center;
}
.right {
    width: 400px;
    background-color: #ffffff;
    /* // height: 100%; */
    padding: 30px;

    /* //Center component*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; /* // No Scroll */

}

.title{
    font-size: xx-large;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins';
    margin-bottom: 50px;
}