.wrapper-class {
  border: 1px solid #ccc;
  /* padding: 1rem; */
  }
  .editor-class {
    background-color:rgb(255, 255, 255);
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }